<!DOCTYPE html>
<html class="blue">
<head>
   <title>Aavega Inventory Management </title>
   <meta name="viewport" content="width=device-width;initial-scale=1.0">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		 <script  src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.4/ui-bootstrap-tpls.js"></script>

		 
		 <script>
		 
		 
		 	 var PIVQuestions = [
    { "id": 0, "PIVCode":"Q000","value": "Please select a question" },
    { "id": 1, "PIVCode":"Q001","value": "What is your real name ?" },
    { "id": 2, "PIVCode":"Q002","value": "what is your gamer tag ?" },
    { "id": 3, "PIVCode":"Q003","value": "What is your hometown ?" },
    { "id": 4, "PIVCode":"Q004","value": "when is your birthday ?" },
    { "id": 5, "PIVCode":"Q005","value": "What game got you started in gaming ?" },
		 	 ];
			 
localStorage.setItem("userType", "");
var user_data="";
var xobj = new XMLHttpRequest();
xobj.overrideMimeType("application/json");		
xobj.open('GET', 'http://localhost:5000/getUserData', false); // Replace 'my_data' with the path to your file
xobj.send(null); 
if(xobj.status===200)
{
    // Required use of an anonymous callback as .open will NOT return a value but simply returns undefined in asynchronous mode
    var temp = xobj.responseText;
    user_data=JSON.parse(temp);
}else
{
    console.log("failed");
}

var device = angular.module('InventoryAppLogin',[]);
device.controller("InventoryLoginController",['$scope','$http',function($scope,$http)
{
    $scope.isError=false;
    $scope.isforgotPasswordshow=false;
    $scope.allPivQuestions=PIVQuestions;
    $scope.username="";
    $scope.password="";
    $scope.fpsPivAnswer="";
    $scope.fpsnewPassword="";
    $scope.fpsconfirmnewPassword="";
    $scope.userDataRow=[{
	    userType:"",
        userQuestion:$scope.allPivQuestions[0],
        userPivAnswer:"",
        username:"",
        fullname:"",
        employeeId:"",
        password:""
    }];


    //Store Value in InventoryData					
    $scope.userDataRow.splice(0,1);
    for(var i=0;i<user_data.length;i++)
    {
        var temp_data=user_data[i];
        var temp_index=0;
        for(var j=0;j< $scope.allPivQuestions.length;j++)
        {
            if($scope.allPivQuestions[j].PIVCode == temp_data.userQuestionCode){
                temp_index=j;
                break;
            }
        }

        $scope.userDataRow.push({
		userType:user_data[i].userType,
            userQuestion:$scope.allPivQuestions[temp_index],
            userPivAnswer:user_data[i].userPivAnswer,
            username:user_data[i].username,
            fullname:user_data[i].fullname,
            employeeId:user_data[i].employeeId,
            password:user_data[i].password
        });
    }
	
	
		 
    $scope.Login=function()
    {
	
        var isValidCredential=false;
       
        for(var i=0;i<$scope.userDataRow.length;i++)
        {
            if($scope.userDataRow[i].username==$scope.username&&$scope.userDataRow[i].password==$scope.password&&$scope.userDataRow[i].userType=="Admin") 
            { 
                isValidCredential=true;
                console.log($scope.userDataRow[i]);
                break;
            }
        }
        if(isValidCredential)
        {
		localStorage.setItem("userType", "Admin");
            $scope.isError=false;
            window.location="http://localhost:5000/device.html";
        }else
        {
            $scope.isError=true;
            if($scope.username==""||$scope.password=="")
                $scope.errorMessage="Enter your credential.";
            else
                $scope.errorMessage="Enter valid credential.";
        }
    };
	
    $scope.Register=function()
    {
        window.location="http://localhost:5000/register.html"
    };
	
    $scope.ForgotPassword=function()
    {
	
        $scope.isError=false;
        if($scope.username=="")
        {
            $scope.isError=true;
            $scope.errorMessage="Enter your username.";
        }else
        {
            var isValidusername=false;
            var i=0;
            for(;i<$scope.userDataRow.length;i++)
            {
                if($scope.userDataRow[i].username==$scope.username) 
                { 
                    isValidusername=true;
                    break;
                } 
            }
            if(isValidusername)
            {
                $scope.isforgotPasswordshow=true;
                $scope.fpsusernameindex=i;
                $scope.fpsPivQuestion=$scope.userDataRow[i].userQuestion.value;
            }
		
        }
    };
	
    $scope.ChangeThePassword=function()
    {
        $scope.isError=false;
        if($scope.fpsPivAnswer=="")
        {
            $scope.isError=true;
            $scope.errorMessage="Enter the answer.";
        }else if($scope.fpsnewPassword=="" && $scope.fpsconfirmnewPassword=="")
        {
            $scope.isError=true;
            $scope.errorMessage="Enter the password.";
        }else if($scope.fpsnewPassword!=$scope.fpsconfirmnewPassword)
        {
            $scope.isError=true;
            $scope.errorMessage="Password and confirm Password doesn't match";
        }else if($scope.userDataRow[$scope.fpsusernameindex].userPivAnswer==$scope.fpsPivAnswer)
        {
            $scope.userDataRow[$scope.fpsusernameindex].password=$scope.fpsnewPassword;
			
            $http({
                method:'GET',
                url :'http://localhost:5000/RegisterUser',
                headers:
                {
                    "UserData":JSON.stringify($scope.userDataRow)
                }
            }).then(function success(response){
                if(response.data=="Done")
                    $scope.isError=true;
                $scope.errorMessage="Password changed";
            },function error(){
                console.log("Unable to save and logout.");
            });    
        }else
        {
            $scope.isError=true;
            $scope.errorMessage="Answer is not correct";
        }
    };
}]);
</script>
</head>
<body ng-app="InventoryAppLogin" ng-controller="InventoryLoginController">
<nav class="navbar navbar-default">
  <div class="container-fluid" style="background:#67BCDB">

<img src="http://www.suntechnologies.com/images/aavega-logo.png" align="left" alt="Smiley face" width="130" height="80" >
    <div class="navbar-header">
      <div class="navbar-brand "  style="color:white;margin-left:0px;" >
          Aavega Inventory Management
      </div>
    </div>
  </div>
  
</nav>

<div class="container">

<div class="col-md-6 col-md-offset-3" ng-show="!isforgotPasswordshow">
    <h2>Login</h2>
    <form >
        <div class="form-group" >
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="username" required   />        
        </div>
        <div class="form-group" >
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="password"   required />
        </div>
		<div ng-if="isError">
		<p class="text-warning">{{errorMessage}}</p>
		</div>
        <div class="form-actions">
           <button  ng-click="Login()"  class="btn btn-primary">Login </button>
		   <button  ng-click="Register()"  class="btn btn-primary">Register </button>
		   <button  ng-click="ForgotPassword()"  class="btn btn-primary">Forogt Password</button>
        </div>
    </form>
</div>
<div class="col-md-6 col-md-offset-3" ng-show="isforgotPasswordshow">
    <h2>Forogot Password</h2>
    <form >
        <div class="form-group" >
            <label for="question">Question</label>
            <input type="text" name="pivquestion" id="pivquestion" class="form-control" ng-model="fpsPivQuestion"  disabled  />        
        </div>
        <div class="form-group" >
            <label for="fpsPivAnswer">Answer</label>
            <input type="text" name="fpsPivAnswer" id="fpsPivAnswer" class="form-control" ng-model="fpsPivAnswer"  required  />
        </div>
		<div class="form-group" >
            <label for="fpsnewPassword">Password</label>
            <input type="password" name="fpsnewPassword" id="fpsnewPassword" class="form-control" ng-model="fpsnewPassword"  required  />
        </div>
		<div class="form-group" >
            <label for="fpsconfirmnewPassword">Confirm Password</label>
            <input type="password" name="fpsconfirmnewPassword" id="fpsconfirmnewPassword" class="form-control" ng-model="fpsconfirmnewPassword"  required  />
        </div>
		<div ng-if="isError">
		<p class="text-warning">{{errorMessage}}</p>
		</div>
        <div class="form-actions">
           <button  ng-click="ChangeThePassword()"  class="btn btn-primary">Submit </button>
		    <button  ng-click="isError=false;isforgotPasswordshow=false;fpsPivAnswer='';fpsnewPassword='';fpsconfirmnewPassword='';username='';password='';"  class="btn btn-primary">Go Back </button>
        </div>
    </form>
</div>
</div>
</body>
</html>
